# Leave entire .idea folder
*/.idea/*
*/*.iml

# Leave 00-kafka23 directory
*00-kafka23*

# Leave kafka_logs and zookeeper_data and state store
*kafka_logs*
*zookeeper_data*
*state-store*
*/logs/*

# Leave target directory
*/target/*

# Leave tmp directory
*/tmp/*